# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# clangd
.cache/*

# VSCode
.vscode/*
!.vscode/tasks.json

# Visual Studio
.vs/

# Godot 4+ specific ignores
.godot/
game/bin/openvic/*
.sconsign*.dblite

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
bin/*
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# Build configuarion.
/custom.py

# MacOS stuff
.DS_Store

*.translation
!game/common/map/*.obj

# JetBrains
.idea

# scons stuff
.cache
compile_commands.json

# ccls
.ccls-cache

# Generated source files
extension/src/gen/*
extension/deps/openvic-simulation/deps/memory/src/detail/align.o
extension/deps/openvic-simulation/deps/memory/src/detail/align.obj
extension/deps/openvic-simulation/deps/memory/src/detail/assert.o
extension/deps/openvic-simulation/deps/memory/src/detail/assert.obj
extension/deps/openvic-simulation/deps/memory/include/foonathan/memory/config_impl.hpp
extension/deps/openvic-simulation/deps/memory/include/foonathan/memory/detail/container_node_sizes_impl.hpp
extension/deps/openvic-simulation/deps/memory/src/detail/debug_helpers.o
extension/deps/openvic-simulation/deps/memory/src/detail/debug_helpers.obj
extension/deps/openvic-simulation/deps/memory/src/debugging.o
extension/deps/openvic-simulation/deps/memory/src/debugging.obj
extension/deps/openvic-simulation/deps/memory/src/error.o
extension/deps/openvic-simulation/deps/memory/src/error.obj
extension/deps/openvic-simulation/deps/lexy-vdf/deps/lexy/src/input/file.o
extension/deps/openvic-simulation/deps/openvic-dataloader/deps/lexy/src/input/file.o
extension/deps/openvic-simulation/deps/lexy-vdf/deps/lexy/src/input/file.obj
extension/deps/openvic-simulation/deps/openvic-dataloader/deps/lexy/src/input/file.obj
extension/deps/openvic-simulation/deps/openvic-dataloader/deps/fmt/src/format.o
extension/deps/openvic-simulation/deps/openvic-dataloader/deps/fmt/src/format.obj
extension/deps/openvic-simulation/deps/memory/src/detail/free_list.o
extension/deps/openvic-simulation/deps/memory/src/detail/free_list.obj
extension/deps/openvic-simulation/deps/memory/src/detail/free_list_array.o
extension/deps/openvic-simulation/deps/memory/src/detail/free_list_array.obj
extension/deps/openvic-simulation/deps/memory/src/heap_allocator.o
extension/deps/openvic-simulation/deps/memory/src/heap_allocator.obj
extension/deps/openvic-simulation/deps/memory/src/iteration_allocator.o
extension/deps/openvic-simulation/deps/memory/src/iteration_allocator.obj
extension/deps/openvic-simulation/deps/openvic-dataloader/deps/fmt/src/libfmt.lib
extension/deps/openvic-simulation/deps/lexy-vdf/deps/lexy/src/liblexy_file.a
extension/deps/openvic-simulation/deps/openvic-dataloader/deps/lexy/src/liblexy_file.a
extension/deps/openvic-simulation/deps/lexy-vdf/deps/lexy/src/liblexy_file.lib
extension/deps/openvic-simulation/deps/openvic-dataloader/deps/lexy/src/liblexy_file.lib
extension/deps/openvic-simulation/deps/memory/src/libmemory.a
extension/deps/openvic-simulation/deps/memory/src/libmemory.lib
extension/deps/openvic-simulation/deps/openvic-dataloader/deps/vmcontainer/lib/src/libvmcontainer.a
extension/deps/openvic-simulation/deps/openvic-dataloader/deps/vmcontainer/lib/src/libvmcontainer.lib
extension/deps/openvic-simulation/deps/memory/src/malloc_allocator.o
extension/deps/openvic-simulation/deps/memory/src/malloc_allocator.obj
extension/deps/openvic-simulation/deps/memory/src/memory_arena.o
extension/deps/openvic-simulation/deps/memory/src/memory_arena.obj
extension/deps/openvic-simulation/deps/memory/src/memory_pool.o
extension/deps/openvic-simulation/deps/memory/src/memory_pool.obj
extension/deps/openvic-simulation/deps/memory/src/memory_pool_collection.o
extension/deps/openvic-simulation/deps/memory/src/memory_pool_collection.obj
extension/deps/openvic-simulation/deps/memory/src/memory_stack.o
extension/deps/openvic-simulation/deps/memory/src/memory_stack.obj
